


.EmptyState,
.ErrorState {
    height: 100%;
    text-align: left;
    margin:auto;

    &-cardBody {
        height: 100%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.EmptyState pre {
    padding-left:2em;
}

.ErrorState-headingText {
    color: darkgrey;
}

.vizContainer {
    padding:1em;
}

.groupContainer {
    margin-top:4em;
    border-left: solid 1px #c3c3c3;
    padding-left:10px;
}

.monitorHeader {
     margin-top:5px;
}

.combinedMonitorGroup {
}
.combinedMonitorSubGroup {
    margin-top: 2em;
    margin-bottom: 2em;
}

.stripeRow {
    height: 60px;
}

.stripeBlockContainer {
   float: left;
   border-left: solid 1px #fafafa;
}

.stripeDurationBlockOuter {
   height:20px;
   width: 100%;
   position:relative;
   //border-bottom:solid 2px #fafafa;
   margin-bottom:2px;
}
.stripeDurationBlockInner {
   background-color:#dadada;
   width: 100%;
   position:absolute;
   bottom:0;
}

.stripeBlock {
   height:25px;
   background-color:#dadada;
}

.keyContainer {
    display: flex;
    flex-direction: row;
    margin-top:5px;
}
.keyBlock {
    height:16px;
    width:15px;
}
.keyBlockDescription {
    float:left;
    height:20px;
    padding-left: 5px;
}

.scrollableCheckTableContainer {
      max-height: 300px;
      overflow-y: auto;
}
.checkTable {
    font-size:8px;
}

.checkTable td, .checkTable th {
    padding: 5px 5px;
    height: 20px;
    font-size:10px;
}
.checkRuleDivider {
    margin: 2em 0 1em 0;
    border-top: 1px solid #ccc;
}

.monitorContainer {
   background-color: #fcfcfc;
   padding: 5px 0px 5px 5px;
   margin: 10px 0px 0px 0px;
}

.monitorContainerCombined {
   background-color: #f3f4f4;
}

.monitorContainerCombined .stripeBlockContainer {
   border-left: solid 1px #f3f4f4;
}

.hyperlink {
    cursor:pointer;
}
.hyperlink:hover {
    text-decoration: underline;
}
.topLinksContainer {
    text-align: right
}
.toggleLink {
    padding-left:2em;
}
.groupToggleLink {
    padding-top:1em;
}

.latestBlock {
    float:left;
    margin-left:15px;
}
.latestCheckLabel {
    font-size: 0.7em;
    font-weight:bold;
    color: #b5b5b5;
    text-transform: uppercase;
    margin-bottom: 5px;
    margin-top:2px;
}
.latestStatusKey {
    width:6px;
    height:30px;
    float:left; 
    vertical-align: bottom;
}
.latestStatusText 
    {float:left;
    padding-left:5px;
    width:90px;
}



.topkeyBlock {
    float:right;
    margin-left:15px;
    margin-top: 15px;
    cursor: pointer;
    margin-bottom: 15px;
}
.topkeyLabel {
    font-size: 1em;
    font-weight:bold;
    color: #b5b5b5;
    text-transform: uppercase;
    margin-bottom: 5px;
    margin-top:2px;
}
.topkeyStatusKey {
    width:8px;
    height:24px;
    float:left; 
    vertical-align: bottom;

}
.topkeyStatusText 
    {float:left;
    padding-left:5px;
    width:90px;
    line-height: 0.9;
}
.topkeyStatusLine2 {
    font-size:0.8em;
    color:#9c9c9c;
    font-weight: bold;
}


// Deal with dark mode weirdness
@media (prefers-color-scheme: dark) {
  .topkeyStatusKey,
  .latestStatusKey,
  .stripeBlockInner {
    filter: contrast(1.176) hue-rotate(180deg) invert(1) saturate(1.1); 
  }
  .stripeBlock, 
  .stripeDurationBlockInner {
     background-color: #b8b8b8 ;
  }

  .topkeyStatusLine2,
  .latestCheckLabel {
    color: #707070 ;
  }

  .monitorContainerCombined {
    background-color: #ededed;
  }
}
